body{
    box-sizing: border-box;
    max-width: 600px;
    background-color: #ccc;
    margin: 0 auto;
}


.screen{
    background-color: rgb(250, 23, 23);
    height: 15vh;
    text-align: right;
    font-size: 50px;
    margin: 20px
}

.operator{
    background-color:  orange;

}

#id1{
    width: 600px;
    border: 1px solid black;
    height: 300px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

button{
    font-size: 20px;
    border: none;
    background-color: rgb(255, 238, 0);
    width: 138px;
    height: 40px;
    padding: 0;
}
.numeros{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.operadores-botones{
    gap: 5px;
    flex-direction: column;
    display: flex;
    margin-bottom: 5px;
    align-items: right;
    color: white    ;

}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

#equal{
    width: 280px;
}